@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --col-bg: #193f6e;
  --col-bg-light: #518eda;
  --col-bg-lighter: #ffffff;
  --col-primary-dark: #3b6ba5;
  --col-primary-light: #3b6ba5;
  --col-shadow: 0px 0px 27px 0px #e1ebec;
  --col-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

body {
    position: relative;
    background-color: var(--col-bg);
    font-family: 'Montserrat', sans-serif;
}
  
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img/texture.png');
    background-size: 100px 100px;
    background-repeat: repeat;
    background-position: top left;
    opacity: 0.02;
    z-index: -1;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  height: 100vh;
}

#game-canvas {
  position: relative;
}

#game-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  font-weight: 700;
  display: none;
  transform-origin: top left;
}

#game-score {
  position: absolute;
  width: 100%;
  border-bottom: 2px dotted #333;
  font-size: 84px;
  font-weight: 900;
  padding-left: 16px;
  color: var(--col-bg-lighter);
  text-shadow: 3px 3px 0 var(--col-primary), -3px -3px 0 var(--col-primary), -3px 3px 0 var(--col-primary), 3px -3px 0 var(--col-primary);
}

#game-end-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--col-shadow);
}

#game-end {
  text-align: center;
  padding: 32px 48px;
  background-color: var(--col-bg-lighter);
  border: 5px solid var(--col-primary);
  box-shadow: 0 4px 32px var(--col-shadow);
  border-radius: 32px;
  margin: 0 auto;
  pointer-events: initial;
  user-select: initial;
}

#game-end-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--col-primary-dark);
}

#game-end-link {
  display: inline-block;
  color: var(--col-white);
  font-size: 24px;
  text-decoration: none;
  background-color: var(--col-primary-light);
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px 0 var(--col-shadow);
}

#game-end-link:hover {
  background-color: var(--col-primary);
  box-shadow: 6px 6px 0 var(--col-shadow);
}

#game-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background-color: var(--col-bg-lighter);
  display: flex;
}

.game-status-item {
  display: flex;
  line-height: 1;
  align-items: center;
  margin-right: 32px;
}

.game-status-label {
  color: #666;
  font-size: 16px;
  margin-left: 24px;
  margin-right: 8px;
}

#game-highscore-value {
  color: #333;
  font-weight: 700;
  font-size: 24px;
}

#game-next-fruit {
  width: 24px;
  height: 24px;
}

#credits {
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: left;
  font-size: 18px;
  color: var(--col-white);
  padding-left: 10px;
}

#credits a {
  color: var(--col-bg-lighter);
  text-decoration: none;
}

#credits a:hover {
  color: var(--col-bg-light);
  text-decoration: underline;
}
